@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
 
  --hue-md: 240;
  --first-color-md: hsl(var(--hue-md), 16%, 18%);
  --first-color-md-alt: hsl(var(--hue-md), 16%, 12%);
  --title-color-md: hsl(var(--hue-md), 8%, 15%);
  --text-color-md: hsl(var(--hue-md), 8%, 35%);
  --body-color-md: hsl(var(--hue-md), 100%, 99%);
  --container-color-md: #FFF;

  /*========== Font and typography ==========*/
  --body-font-md: 'Poppins', sans-serif;
  --big-font-size-md: 1.5rem;
  --normal-font-size-md: .938rem;

  --z-modal-md: 1000;
}
a:hover {
cursor: pointer;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size-md: 1.75rem;
    --normal-font-size-md: 1rem;
  }
}


body,
button{
  font-family: var(--body-font-md);
  font-size: var(--normal-font-size-md);
}

body{
  position: relative;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

iframe {
  display: flex !important;   
  position: relative !important;
  left : -8.5% !important;
  height: 200px !important;
  border-radius: 0.4rem;
  align-items:center;
  width: 278px !important;
 
  justify-content: center !important;
}

.img-modal-2 {

  width: 100%;
  height: 100%;
}

.modal{
  height: 100vh;
  display: grid;
  place-items: center;
}

.modal__container{
  position: absolute;
  top: 0px;
  left: 0;
  background-color: hsla(240, 46%, 13%, 0.8);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all .3s;
  z-index: var(--z-modal-md);
visibility: hidden;
  opacity: 0;

}

.modal__content{
  position: relative;
  background-color: var(--container-color-md);
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 0.2rem;
  transition: all .6s;

  /*=== Effect 1 ===*/
  transform: translateY(50%);
}


p.quantity {
  color: var(--text-color);
}

.modal__close{
  display: inline-flex;
  border-radius: 0.4rem;
  color: #FFF;
  font-size: 1.1rem;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close:hover {

  opacity: 1;
  transition: 1s;
}

.modal__title{
  font-size: var(--big-font-size-md);
  color: var(--text-color);
  margin-top: 0.4rem;
  font-weight: 500;
}

.modal__description{
  margin-bottom: 1.5rem;
}

.modal__button-width{
  width: 90%;
}

.modal__button-link{
  display: block;
  margin: 1rem auto 0;
  width: 70px;
  height: 28px;
  border-radius: 0.4rem;
  opacity: 0.4;
  background-color: #ccb;
  color: var(--first-color-md);
  font-weight: 500;
}

.modal__button-link:hover {
  opacity: 1;
  
}

/* Show modal */
.show-modal{

  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content{
  /*=== Effect 1 ===*/
  transform: translateY(0);

 
}
.md-p-1 {
 
  background: url('../img/prism_1.svg') left;
  background-size: cover;
}
.md-p-2 {
 
  background: url('../img/prism_1.svg') left;
  background-size: cover;
}
.md-p-3 {
 
  background: url('../img/prism_1.svg') left;
  background-size: cover;
}
.md-p-4 {
 
  background: url('../img/prism_1.svg') left;
  background-size: cover;
}
.md-p-5 {
 
  background: url('../img/prism_1.svg') left;
  background-size: cover;
}

.md-p-6 {
 
  background: url('../img/prism_2.svg') left;
  background-size: cover;
}

@media screen and (max-width: 768px){ 


  .md-p-1 {
    bottom: 150px !important;
    background: url('../img/prism_1.svg') left !important;
    background-size: cover;
  }
  .md-p-2 {
    top: 120px !important;
    background: url('../img/prism_1.svg') bottom !important;
    background-size: cover;
   
  }
  
  .md-p-3 {
    top: 360px !important;
    background: url('../img/prism_1.svg') bottom !important;
    background-size: cover;
  }
  .md-p-4 {
    top: 620px !important;
    background: url('../img/prism_1.svg') bottom !important;
    background-size: cover;
  }
  
  .md-p-5 {
    top: 650px !important;
    background: url('../img/prism_1.svg') top !important;
    background-size: cover;
  }


  .md-p-6 {
    bottom: 1020px !important;  
    background: url('../img/prism_2.svg') left;
    background-size: cover;
  }
}


@media screen and (min-width: 320px){
  .modal__content{
    margin: auto;
    width: 300px;
      
iframe {
  display: flex !important; 
  width: 100% !important;  
  right : 15% !important;
  height: 190px !important;
  border-radius: 0.4rem;
  align-items:center;
  width: 278px !important;
 
  justify-content: center !important;
 
}
  }
}
