

@keyframes blinking {
    0% {background-color: #fff}
    50% {background-color: transparent}
    100% {background-color: #fff}
}


.cd {
    width: 280px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center ; */
    transition: transform .5s;
    border-radius: 0.7rem 0.7rem 0.4rem 0.5rem;
    background: url('../img/prism_1.svg') left;
    background-size: cover;
}

.lane, .cd h1, .about-me, .image-top, .profile-image {
    user-select: none;
}

@keyframes cdAnim {
    0% {opacity: 0}
    100% {opacity: 1}
}

.cd:nth-child(1) {
    animation: cdAnim 4s 0.9s backwards;
}

.cd:nth-child(2) {
    animation: cdAnim 4s 1.2s backwards;
}

.cd:nth-child(3) {
    animation: cdAnim 4s 1.3s backwards;
}

.cd:nth-child(4) {
    animation: cdAnim 4s 1.4s backwards;
}

.cd:nth-child(5) {
    animation: cdAnim 4s 1.5s backwards;
}

.cd:hover {
    transform: scale(1.1);
    
}



/* .border:hover {
    transform: scale(1.1);
} */

.image-top {
    width: 100%;
    height: 220px;
    object-fit: cover;
    clip-path: polygon(0 0, 108% 0, 100% 76%, 0% 100%);
    border-radius: 0.4rem 0.4rem 0 0;

}
.relative {
    position: relative;
}


.b-gold {
    right: 5px;
    position: absolute;
    color: #F7A518;
}

.b-blue {
    right: 5px;
    position: absolute;
    color: #12829A;
}

/* .border-relative {
    width: 100%;
     height: 100%; 
    position: relative;
} */

/* .border  {

    position: absolute;
    width: 160px;
    bottom: -15px;
    left: 60px;
    z-index: 550;
    transform: rotate(0deg);
} */

.profile-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -110px;
    z-index: 10;
    border: 10px solid #eee;
}

.cd h1 {
   
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    color: #FFF;
    margin: 10px;
   
   
}

.lane {
    font-family: 'Montserrat', sans-serif;
    color: #ffffffc7;
    font-weight: 300;
   
}

.about-me {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    width: 90%;
    margin: 15px 0;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    user-select: none;
}

.cd button {
    width: 120px;
    padding: 7px;
    margin: 10px 0;
    background-color: #260f2c;
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color: #eee;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
    
}

.cd:hover button {
    animation: buttonRotation 2s 1s linear;
    
}



@keyframes buttonRotation {
    0% {transform: scale(1) rotateZ(0)}
    5% {transform: scale(1.2) rotateZ(5deg)}
    10% {transform: scale(1.2) rotateZ(-5deg)}
    15% {transform: scale(1.2) rotateZ(5deg)}
    20% {transform: scale(1.2) rotateZ(-5deg)}
    25% {transform: scale(1.2) rotateZ(5deg)}
    30% {transform: scale(1.2) rotateZ(-5deg)}
    35% {transform: scale(1.2) rotateZ(5deg)}
    40% {transform: scale(1.2) rotateZ(-5deg)}
    45% {transform: scale(1.2) rotateZ(5deg)}
    50% {transform: scale(1.2) rotateZ(-5deg)}
    55% {transform: scale(1.2) rotateZ(5deg)}
    60% {transform: scale(1.2) rotateZ(-5deg)}
    65% {transform: scale(1.2) rotateZ(5deg)}
    70% {transform: scale(1.2) rotateZ(-5deg)}
    75% {transform: scale(1.2) rotateZ(5deg)}
    80% {transform: scale(1.2) rotateZ(-5deg)}
    85% {transform: scale(1.2) rotateZ(5deg)}
    90% {transform: scale(1.2) rotateZ(-5deg)}
    95% {transform: scale(1.2) rotateZ(5deg)}
    100% {transform: scale(1) rotateZ(0)}
}

.social-icons {
    width: 150px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 20px 0;
    border-top: 1px solid #999;
    padding-top: 20px;
}

.social-icons i {
    font-size: 18px;
}

.fa-facebook-f {
    /* color: #3b5999; */
    color: #fff;
}
.fa-youtube {
    /* color: #cd201f; */
    color: #fff;
}
.fa-twitter {
    /* color: #55acee; */
    color: #fff;
}
.fa-google-plus-g {
    /* color: #dd4b39; */
    color: #fff;
}

@media(max-width: 1300px) {
    /* .heading-pf {
        font-size: 65px;
        width: 80%;
    } */

    .cd-wrapper {
        width: 100%;
        /* top: 32%; */
    }
    .image-top {
        height: 200px;
    }
}

@media(max-width: 1000px) {
    .cont-cd {
        height: 100%;
    }

    .heading-pf {
        width: 90%;
    }

    .cd-wrapper {
        flex-wrap: wrap;
        padding: 300px 0 200px 0;
    }

    .cd {
        margin: 10px auto;
    }
}

@media(max-width: 700px) {
    .heading-pf {
        font-size: 50px;
    }

    .heading-pf::after {
        height: 40px;
    }
}

@media(max-width: 450px) {
    .heading-pf {
        font-size: 40px;
    }

    .heading-pf::after {
        height: 33px;
    }

    .cd-wrapper {
        padding: 250px 0 150px 0;
    }
}